#page-footer
  +clearfix
  padding: 0.75em 1em
  background: #2a2b2c url('/images/footer.jpg') center center repeat-x
  color: #929292
  
  a
    +link-colors(#929292, #FFF)
    text-decoration: underline
  
  p#copyright-information
    float: left
    font-size: 0.8em
    line-height: 1.5em
  
  ul#supporter-information
    float: right
    font-size: 1.2em
    margin: 0.5em 0 0
    padding: 0
    list-style: none
    +condensed-font
    text-shadow: #000 1px 1px 2px
    li
      display: inline
      margin-left: 0.5em