// Our customisations on top of formtastics CSS to make it easier to read.

form.formtastic

  fieldset.inputs
    legend
      padding-bottom: 0.5em
      span
        height: 1.5em
        line-height: 1.4em
        +condensed-font
        font-size: 1.3em
        color: $menu-bg-colour
        padding: 0 0 0.5em
  
    ol li
      label
        font-size: 0.9em
        font-weight: bold
        color: #444
        +clearfix
        abbr.required
          color: #992427
          padding-left: 0.5em