#page-header
  +pie-clearfix
  margin: 0 0 0.5em
  h1
    float: left
    a
      display: block
      margin: 0
      width: 200px
      height: 200px
      text-indent: -10000px
      background: url('/images/logo.png') center center no-repeat
    
#site-navigation, #site-navigation ul
  padding: 0
  margin: 0
  list-style: none

$menu-bg-colour: #ce8d22

#site-navigation
  +clearfix
  padding-top: 4.5em
  z-index: 50

  ul
    font-size: 2.5em
    z-index: 50

  a
    display: block
    +condensed-font
    +link-colors(#000)
    text-decoration: none
    padding: 0.25em 0.5em
    text-shadow: #FFF 1px 1px 1px

  li
    float: right
    cursor: pointer
    ul
      font-size: 0.75em
      position: absolute
      left: -999em
      background: $menu-bg-colour

      li
        float: none

    &:hover, &.sfhover
      cursor: pointer
      a
        background: $menu-bg-colour
        +link-colors(#FFF)
        text-shadow: #000 1px 1px 1px
      ul
        left: auto
        li:hover, li.sfhover
          a
            background: darken($menu-bg-colour, 25%)