#page-header
  +pie-clearfix
  margin: 0 auto
  width: 1080px
  h1
    float: left
    a
      display: block
      margin: 0 0 10px 50px
      width: 160px
      height: 170px
      text-indent: -10000px
      background: url('/images/useful/logo.png') center center no-repeat
    
#site-navigation, #site-navigation ul
  padding: 0
  margin: 0
  list-style: none

#site-navigation
  +clearfix
  padding-top: 4.75em
  z-index: 50
  margin: 0 50px 0 0

  ul
    font-size: 17pt
    z-index: 50

  a
    display: block
    font-family: 'Terminal Dosis', Sans-Serif
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 1.5px
    +link-colors(#000)
    text-decoration: none
  li
    float: right
    cursor: pointer
    margin: 0
    padding: 2.5em 0.5em 0.25em 0.75em

    &:hover, &.sfhover
      cursor: pointer
      a
        +link-colors(#444)