#introduction
  p
    font-size: 1.2em
    line-height: 1.5em
    text-align: center
    margin: 1em 2em 0.5em
  
#carousel
  background: white
  border: 1px dotted #777
  padding: 10px
  text-align: center
  z-index: 5
  position: relative
  
  .overlay
    position: absolute
    top: 0
    left: 0
    padding: 10px
    z-index: 10
    
    a
      display: block
      background: transparent url('/images/youthtree/carousel-overlay.png') center center no-repeat
      width: 915px
      height: 350px
      z-index: 10
      font-size: 2em
      text-indent: -999em
      color: #FFF
      font-weight: bold
      text-decoration: none
  
  ul
    display: block
    width: 100%
    height: 350px
    margin: 0 auto
    list-style: none
    position: relative
    li
      position: absolute
      top: 0
      left: 0
      margin: 0
      padding: 0
      width: 100%
      height: 350px
      display: none
      background: green

#homepage-details
  +clearfix
  padding: 0.5em 1em

ul#social-media-icons
  margin: 0
  padding: 0
  list-style: none
  float: right
  li
    display: inline
    margin: 0 0 0 8px
    a
      +inline-block(24px, 24px)
      text-indent: -9999em  
      
a#vimeo-link
  background-image: url('/images/youthtree/icons/vimeo.png')
a#twitter-link
  background-image: url('/images/youthtree/icons/twitter.png')  
a#linkedin-link
  background-image: url('/images/youthtree/icons/linkedin.png')
a#facebook-link
  background-image: url('/images/youthtree/icons/facebook.png')
a#youtube-link
  background-image: url('/images/youthtree/icons/youtube.png')  
a#flickr-link
  background-image: url('/images/youthtree/icons/flickr.png')
a#feed-link
  background-image: url('/images/youthtree/icons/feed.png')
a#email-link
  background-image: url('/images/youthtree/icons/email.png')

h2#mission-statement
  text-align: center
  padding: 0.75em 0
  border-bottom: 1px dotted #777
  font-size: 1.8em
  margin: 0 0 1em