@import "simplass"

+html5-reset

body
  background: #ccc url('/images/background.jpg') center center repeat
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif

+font-face('IngomarJNLRegular', 'ingomar', '#webfont', 'bold')

=condensed-font
  font-weight: bold
  font-style: normal
  font-family: 'IngomarJNLRegular'
  text-transform: uppercase

@import "formtastic"

@import "network"
@import "header"
@import "content"
@import "footer"
@import "misc"
@import "forms"