%h1
  %a{:href => "/"} Youth Tree
  
%nav#site-navigation
  %ul
    %li
      %a{:href => "#"} About
      %ul.nested
        %li
          %a{:href => "#"} What We Do
        %li
          %a{:href => "#"} Mission And Vision
        %li
          %a{:href => "#"} People
        %li
          %a{:href => "#"} History
    %li
      %a{:href => "#"} Get Involved
    %li
      %a{:href => "#"} Partners
    %li
      %a{:href => "#"} Contact Us