%h1
  %a{:href => "/"} Youth Tree
  
%nav#site-navigation
  %ul
    %li
      %a{:href => "/contact-us"} Contact Us
    %li
      %a{:href => "#"} Partners
      %ul
        %li
          %a{:href => "/general"} Style Guide
        %li
          %a{:href => "/forms"} Forms
    %li
      %a{:href => "#"} Get Involved
    %li
      %a{:href => "#"} About Us
      %ul
        = ml "What We Do"
        = ml "Mission And Vision"
        = ml "People"
        = ml "History"
