%script{:src => "/javascripts/vendor/jquery.js"}
%script{:src => "/javascripts/vendor/shuriken/shuriken.js"}
%script{:src => "/javascripts/vendor/youthtree/youth_tree.js"}
%script{:src => "/javascripts/vendor/youthtree/youth_tree/util.js"}
%script{:src => "/javascripts/youth_tree/network.js"}
%script{:src => "/javascripts/youth_tree/sucker_fish.js"}
%script{:src => "/javascripts/youth_tree/carousel.js"}