%script{:src => "/javascripts/vendor/jquery.js"}
/[if (gte IE 6)&(lte IE 8)]
  %script{:src => "/javascripts/vendor/selectivizr.js"}
%script{:src => "/javascripts/vendor/shuriken/shuriken.js"}
%script{:src => "/javascripts/vendor/youthtree/youth_tree.js"}
%script{:src => "/javascripts/vendor/youthtree/youth_tree/util.js"}
%script{:src => "/javascripts/youth_tree/network.js"}
%script{:src => "/javascripts/youth_tree/sucker_fish.js"}
%script{:src => "/javascripts/youth_tree/carousel.js"}