%h1 Youth Tree Style Guide

%p This is a general style guide document that contents a bit of information about who we are.

%hr

%p
  Lorem ipsum dolor sit amet,
  %acronym{:title => "Youth Tree"} YT
  consectetur adipiscing elit. Quisque vel nunc lectus. Phasellus dignissim porta erat in molestie. Duis elementum, nisl ut lobortis laoreet, ligula metus ullamcorper nisl, nec adipiscing lacus est sit amet nibh. Duis egestas condimentum elit in congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum varius libero,
  %sup eu pulvinar lacus posuere ultricies
  Aenean lacinia diam at diam sodales tincidunt sit amet nec velit. Proin pulvinar sodales mauris ac sollicitudin. Pellentesque euismod volutpat nisi, ac bibendum mi molestie et. Nullam ac pharetra dolor.
  %sub And now something lower...
  Suspendisse in tristique lectus. Nullam nec nunc ligula, ac accumsan tellus. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut tincidunt tortor nec arcu ullamcorper sit amet ultricies velit pharetra.

.image-container
  %img{:src => "/images/samples/example-a.jpg"}
  %p Some sort of image description goes here, likely the same as the alt-text.

%p
  Vestibulum id libero mauris. Aliquam lobortis dictum auctor.
  %em Proin accumsan fringilla volutpat.
  Aliquam sodales purus erat. Nulla sit amet elit sit amet nulla consequat hendrerit. Vestibulum dui justo, tempor et tincidunt vitae, hendrerit sed elit. Sed euismod arcu vel erat venenatis vulputate.
  %strong Suspendisse et leo nisl, nec pulvinar mauris.
  Vivamus quis nulla sit amet libero porttitor consequat eget quis turpis. Fusce in nibh id dolor aliquet ullamcorper eget id mi. In eu turpis a lorem congue auctor.
  %abbr{:title => "Elbow"} Elb
  is a rather odd type of street, don't you think?
  
  
%blockquote
  There once was a man from nantucket, he lived in a bucket.
  Other than that, there was very little to know about him.

%p
  %a{:href => "#"}
    %img{:src => "/images/samples/example-b.jpg"}
  In eget bibendum nulla. Phasellus at sem enim. In viverra placerat rutrum. Vestibulum in libero sapien, in imperdiet massa. Vivamus tristique diam non lacus faucibus vel vulputate nulla dignissim. Vivamus malesuada pulvinar magna nec viverra. Suspendisse metus dui, suscipit eu feugiat nec, accumsan sit amet ante. Aenean sapien sem, tristique a aliquet a, vehicula in magna. Vestibulum et sodales dolor.
  %a{:href => "http://nonexistant.com/"} Nunc semper, nulla id egestas tristique,
  leo nisl consectetur purus, at rhoncus lectus sapien eu elit. Duis dapibus nisl eu lectus tempor venenatis. Pellentesque erat mauris, viverra vestibulum dapibus quis, tincidunt eget diam. Integer quis tellus sed sem aliquam elementum.
  %a{:href => '#'} Suspendisse ut risus eget
  elit facilisis ultrices.

.image-container
  %a{:href => "#"}
    %img{:src => "/images/youthtree/logo.png"}
  %p An image with a transparent background

%pre  
  %p
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est.

%p
  %img{:src => "/images/youthtree/logo.png"}
  Proin eget ultrices erat. Suspendisse justo ligula, imperdiet ut tristique eget, pulvinar eget est. Duis consequat lacinia pulvinar. Mauris non ligula id odio pharetra feugiat vel in felis. Proin eget ultrices erat. Suspendisse justo ligula, imperdiet ut tristique eget, pulvinar eget est. Duis consequat lacinia pulvinar. Mauris non ligula id odio pharetra feugiat vel in felis. Proin eget ultrices erat. Suspendisse justo ligula, imperdiet ut tristique eget, pulvinar eget est. Duis consequat lacinia pulvinar. Mauris non ligula id odio pharetra feugiat vel in felis.

%hr
  
%h2 Lists

%p With all sorts of types...

%h3 Ordered Lists

%ol
  %li List Item One
  %li List Item Two
  %li Another, Slightly Longer list item that talks about something random.
  %li Another, Slightly Longer list item that talks about something random.
  
%h3 And Unordered...

%ul
  %li List Item One
  %li List Item Two
  %li Another, Slightly Longer list item that talks about something random.
  %li Another, Slightly Longer list item that talks about something random.
  
%h3 Also, a basic definition list

%dl
  %dt Definition Title
  %dd Definition Definition
  %dt Definition Title
  %dd Definition Definition
  %dt Definition Title
  %dd Definition Definition
  
%hr
  
%h2 And Heading!

%h1 Heading Level 1
%h2 Heading Level 2
%h3 Heading Level 3
%h4 Heading Level 4
%h5 Heading Level 5
%h6 Heading Level 6
