#carousel
  %ul
    - ('a'..'n').each do |c|
      = carousel_image c

#homepage-details
  %ul#social-media-icons
    = social_media "Facebook"
    = social_media "Twitter"
    = social_media "Flickr"
    / = social_media "LinkedIn"
  