html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none; }

mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010 Fontspring
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Jeff Levine Fonts
 * License URL: http://www.fontspring.com/fflicense/jeff-levine
 *
 */
@font-face {
  font-family: "IngomarJNLRegular";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/ingomar-webfont.eot");
  src: local("☺"), url("/fonts/ingomar-webfont.woff") format("woff"), url("/fonts/ingomar-webfont.ttf") format("truetype"), url("/fonts/ingomar-webfont.svg#webfont") format("svg"); }

body {
  background: #cccccc url("/images/youthtree/background.jpg") center center repeat;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif; }

form.formtastic {
  margin: 0;
  padding: 0; }
  form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
    margin: 0;
    padding: 0; }
  form.formtastic fieldset {
    border: 0; }
  form.formtastic em, form.formtastic strong {
    font-style: normal;
    font-weight: normal; }
  form.formtastic ol, form.formtastic ul {
    list-style: none; }
  form.formtastic abbr, form.formtastic acronym {
    border: 0;
    font-variant: normal; }
  form.formtastic input, form.formtastic textarea, form.formtastic select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit; }
  form.formtastic input, form.formtastic textarea, form.formtastic select {
    font-size: 100%; }
  form.formtastic legend {
    white-space: normal;
    color: black; }
  form.formtastic ul.errors {
    color: #cc0000;
    margin: 0.5em 0 1.5em 25%;
    list-style: square; }
    form.formtastic ul.errors li {
      padding: 0;
      border: none;
      display: list-item; }
  form.formtastic fieldset {
    overflow: auto; }
    form.formtastic fieldset.buttons {
      padding-left: 25%; }
    form.formtastic fieldset.buttons li {
      float: left;
      padding-right: 0.5em; }
    form.formtastic fieldset > ol > li {
      padding: 0.5em 0;
      margin-top: -0.5em;
      margin-bottom: 1em;
      overflow: auto; }
      form.formtastic fieldset > ol > li label {
        display: block;
        width: 23%;
        padding-right: 2%;
        float: left;
        padding-top: 0.2em; }
      form.formtastic fieldset > ol > li > li label {
        line-height: 100%;
        padding-top: 0; }
        form.formtastic fieldset > ol > li > li label input {
          line-height: 100%;
          vertical-align: middle;
          margin-top: -0.1em; }
      form.formtastic fieldset > ol > li fieldset {
        position: relative; }
        form.formtastic fieldset > ol > li fieldset legend {
          position: absolute;
          width: 95%;
          padding-top: 0.1em;
          left: 0px; }
          form.formtastic fieldset > ol > li fieldset legend span, form.formtastic fieldset > ol > li fieldset legend.label label {
            position: absolute; }
        form.formtastic fieldset > ol > li fieldset ol {
          float: left;
          width: 74%;
          margin: 0;
          padding: 0 0 0 25%; }
          form.formtastic fieldset > ol > li fieldset ol li {
            padding: 0;
            border: 0; }
      form.formtastic fieldset > ol > li p.inline-hints {
        color: #666666;
        margin: 0.5em 0 0 25%; }
      form.formtastic fieldset > ol > li p.inline-errors {
        color: #cc0000;
        margin: 0.5em 0 0 25%; }
      form.formtastic fieldset > ol > li ul.errors {
        color: #cc0000;
        margin: 0.5em 0 0 25%;
        list-style: square; }
        form.formtastic fieldset > ol > li ul.errors li {
          padding: 0;
          border: none;
          display: list-item; }
      form.formtastic fieldset > ol > li.string input, form.formtastic fieldset > ol > li.password input, form.formtastic fieldset > ol > li.numeric input, form.formtastic fieldset > ol > li.email input, form.formtastic fieldset > ol > li.url input, form.formtastic fieldset > ol > li.phone input, form.formtastic fieldset > ol > li.search input {
        width: 72%; }
      form.formtastic fieldset > ol > li.string input[size], form.formtastic fieldset > ol > li.password input[size], form.formtastic fieldset > ol > li.numeric input[size], form.formtastic fieldset > ol > li.email input[size], form.formtastic fieldset > ol > li.url input[size], form.formtastic fieldset > ol > li.phone input[size], form.formtastic fieldset > ol > li.search input[size], form.formtastic fieldset > ol > li.datetime_picker input[size], form.formtastic fieldset > ol > li.date_picker input[size] {
        width: auto;
        max-width: 72%; }
      form.formtastic fieldset > ol > li.text textarea {
        width: 72%; }
        form.formtastic fieldset > ol > li.text textarea[cols] {
          width: auto;
          max-width: 72%; }
    form.formtastic fieldset ol li.hidden {
      display: none; }
    form.formtastic fieldset > ol > li.boolean label {
      padding-left: 25%;
      width: auto; }
      form.formtastic fieldset > ol > li.boolean label input {
        margin: 0 0.5em 0 0.2em; }
    form.formtastic fieldset > ol > li.radio fieldset, form.formtastic fieldset > ol > li.check_boxes fieldset {
      overflow: visible; }
      form.formtastic fieldset > ol > li.radio fieldset ol, form.formtastic fieldset > ol > li.check_boxes fieldset ol {
        margin-bottom: -0.5em; }
        form.formtastic fieldset > ol > li.radio fieldset ol li, form.formtastic fieldset > ol > li.check_boxes fieldset ol li {
          margin: 0.1em 0 0.5em 0;
          overflow: visible; }
          form.formtastic fieldset > ol > li.radio fieldset ol li label, form.formtastic fieldset > ol > li.check_boxes fieldset ol li label {
            float: none;
            width: 100%; }
            form.formtastic fieldset > ol > li.radio fieldset ol li label input, form.formtastic fieldset > ol > li.check_boxes fieldset ol li label input {
              margin-right: 0.2em; }
    form.formtastic fieldset > ol > li.date fieldset ol li, form.formtastic fieldset > ol > li.time fieldset ol li, form.formtastic fieldset > ol > li.datetime fieldset ol li {
      float: left;
      width: auto;
      margin: 0 0.3em 0 0; }
    form.formtastic fieldset > ol > li.date fieldset ol li label, form.formtastic fieldset > ol > li.time fieldset ol li label, form.formtastic fieldset > ol > li.datetime fieldset ol li label {
      display: none; }
    form.formtastic fieldset > ol > li.date fieldset ol li label input, form.formtastic fieldset > ol > li.time fieldset ol li label input, form.formtastic fieldset > ol > li.datetime fieldset ol li label input {
      display: inline;
      margin: 0;
      padding: 0; }

#yt-network {
  width: 100%;
  background: black;
  color: #5e5e5e; }

#yt-network-inner {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1; }
  #yt-network-inner a {
    text-decoration: none;
    color: #5e5e5e; }
    #yt-network-inner a:hover {
      color: #999999; }

#yt-subscribe {
  float: left; }
  #yt-subscribe a {
    padding: 0 20px; }
  #yt-subscribe.active {
    background: #1e1e1e;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -o-border-bottom-left-radius: 15px;
    -ms-border-bottom-left-radius: 15px;
    -khtml-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -o-border-bottom-right-radius: 15px;
    -ms-border-bottom-right-radius: 15px;
    -khtml-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px; }
    #yt-subscribe.active a {
      color: #c4771b; }

#yt-subscribe, ul#yt-sites {
  font-size: 12px;
  line-height: 18px;
  padding: 10px; }

ul#yt-sites {
  float: right;
  margin: 0;
  list-style: none; }
  ul#yt-sites li {
    display: inline;
    margin: 0 0 0 20px; }

#yt-subscribe-panel {
  display: none;
  background: #1e1e1e; }
  #yt-subscribe-panel form {
    width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    overflow: hidden;
    *zoom: 1;
    font-size: 12px; }
  #yt-subscribe-panel fieldset {
    overflow: hidden;
    *zoom: 1; }
    #yt-subscribe-panel fieldset label {
      color: white;
      padding: 5px 10px 5px 0;
      clear: both;
      float: left;
      display: block; }
  #yt-subscribe-panel fieldset#yt-subscriber-details {
    float: left;
    margin-right: 10px;
    width: 220px; }
    #yt-subscribe-panel fieldset#yt-subscriber-details label {
      width: 50px;
      padding-top: 8px; }
    #yt-subscribe-panel fieldset#yt-subscriber-details input {
      float: left;
      background: #666666;
      padding: 5px;
      border: 0;
      display: block;
      color: white;
      width: 150px;
      margin-bottom: 10px; }
  #yt-subscribe-panel fieldset#yt-subscriber-subscriptions {
    float: left;
    width: 520px;
    margin: 0 10px; }
    #yt-subscribe-panel fieldset#yt-subscriber-subscriptions label {
      width: 130px; }
  #yt-subscribe-panel fieldset#yt-subscribe-button {
    float: right;
    width: 170px;
    margin-left: 20px;
    padding-top: 15px;
    text-align: left; }
    #yt-subscribe-panel fieldset#yt-subscribe-button button {
      padding: 10px 30px;
      background: #c86e05 url("/images/youthtree/bg-gradient.png") bottom center repeat-x;
      font-size: 16px;
      border: 2px solid #ad5f06;
      color: white;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      -o-border-radius: 8px;
      -ms-border-radius: 8px;
      -khtml-border-radius: 8px;
      border-radius: 8px;
      text-shadow: black 1px 1px 2px;
      font-weight: bold;
      -moz-box-shadow: black 1px 1px 5px false;
      -webkit-box-shadow: black 1px 1px 5px false;
      -o-box-shadow: black 1px 1px 5px false;
      box-shadow: black 1px 1px 5px false; }
      #yt-subscribe-panel fieldset#yt-subscribe-button button:hover {
        cursor: pointer;
        background-color: #af6004; }
  #yt-subscribe-panel ul#yt-newsletter-choices {
    float: left;
    display: block;
    width: 380px;
    margin: 0;
    padding: 0;
    list-style: none; }
    #yt-subscribe-panel ul#yt-newsletter-choices li {
      display: block; }
      #yt-subscribe-panel ul#yt-newsletter-choices li label {
        width: auto; }
        #yt-subscribe-panel ul#yt-newsletter-choices li label span.yt-list-name {
          color: white; }
        #yt-subscribe-panel ul#yt-newsletter-choices li label span.yt-list-description {
          padding-left: 5px;
          color: #6a6a6a; }

#page-header {
  *zoom: 1;
  margin: 0 0 0; }
  #page-header:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  #page-header h1 {
    float: left; }
    #page-header h1 a {
      display: block;
      margin: 0;
      width: 250px;
      height: 225px;
      text-indent: -10000px;
      background: url("/images/youthtree/logo.png") center center no-repeat; }

#site-navigation, #site-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#site-navigation {
  overflow: hidden;
  *zoom: 1;
  padding-top: 4.5em;
  z-index: 50; }
  #site-navigation ul {
    font-size: 2.5em;
    z-index: 50; }
  #site-navigation a {
    display: block;
    font-weight: normal;
    font-style: normal;
    font-family: "IngomarJNLRegular";
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    padding: 0.25em 0.5em;
    text-shadow: white 1px 1px 1px; }
  #site-navigation li {
    float: right;
    cursor: pointer;
    margin: 0; }
    #site-navigation li ul {
      font-size: 0.75em;
      position: absolute;
      left: -999em;
      background: #ce8d22; }
      #site-navigation li ul li {
        float: none; }
    #site-navigation li:hover, #site-navigation li.sfhover {
      cursor: pointer; }
      #site-navigation li:hover a, #site-navigation li.sfhover a {
        background: #ce8d22;
        color: white;
        text-shadow: black 1px 1px 1px; }
      #site-navigation li:hover ul, #site-navigation li.sfhover ul {
        left: auto; }
        #site-navigation li:hover ul li:hover a, #site-navigation li:hover ul li.sfhover a, #site-navigation li.sfhover ul li:hover a, #site-navigation li.sfhover ul li.sfhover a {
          background: #614210; }

#container {
  width: 960px;
  margin: 1em auto 3em; }

#content {
  width: 920px;
  padding: 20px;
  background: #e9eff4;
  overflow: hidden;
  *zoom: 1; }
  #content a {
    color: #36527e; }
    #content a:hover {
      color: #a26f1b; }
    #content a:active {
      color: #777777; }
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    font-weight: normal;
    font-style: normal;
    font-family: "IngomarJNLRegular";
    text-transform: uppercase;
    border-bottom: 1px dotted #777777;
    padding: 5px;
    margin-bottom: 14px;
    color: black; }
    #content h1 a, #content h2 a, #content h3 a, #content h4 a, #content h5 a, #content h6 a {
      color: #4c3414;
      text-decoration: none; }
      #content h1 a:hover, #content h2 a:hover, #content h3 a:hover, #content h4 a:hover, #content h5 a:hover, #content h6 a:hover {
        color: #ce8d22; }
  #content h1 {
    font-size: 2.25em; }
  #content h2 {
    font-size: 1.75em; }
  #content h3 {
    font-size: 1.5em; }
  #content h4 {
    font-size: 1.35em; }
  #content h5 {
    font-size: 1.25em; }
  #content h6 {
    font-size: 1.2em; }
  #content p {
    line-height: 1.35em;
    font-size: 0.9em;
    margin-bottom: 14px;
    overflow: hidden;
    *zoom: 1; }
  #content p img {
    float: left;
    margin: 0 10px 10px 0; }
  #content blockquote {
    font-size: 1.2em;
    color: black;
    padding: 1em;
    margin: 0 0 14px;
    line-height: 1.5em; }
  #content pre {
    color: #444444;
    margin: 0 0 14px;
    padding: 1em; }
    #content pre p {
      margin: 0;
      padding: 0; }
  #content .image-container {
    text-align: center;
    padding: 24px 0; }
    #content .image-container img {
      background: white;
      border: 0.25em solid #d2d8dd; }
    #content .image-container p {
      color: #555555;
      font-size: 0.8em;
      margin: 0;
      padding: 1em 0; }
  #content ul, #content ol, #content dl {
    font-size: 0.9em;
    line-height: 1.8em;
    margin: 0 0 14px; }
  #content ul, #content ol {
    list-style-position: outside;
    margin-left: 1.25em; }
  #content dl dt {
    font-weight: bold;
    margin-top: 8px;
    color: #111111; }
  #content dl dd {
    color: #444444; }
  #content img a {
    border: none; }
  #content .subsection-container {
    overflow: hidden;
    *zoom: 1; }
  #content .subsection {
    float: left;
    width: 215px;
    margin: 0 10px; }
    #content .subsection.first {
      margin-left: 0; }
    #content .subsection.last {
      margin-right: 0; }
    #content .subsection h3 {
      font-size: 1.5em;
      margin-bottom: 10px; }
    #content .subsection p {
      line-height: 1.5em;
      font-size: 0.9em; }
  #content ul.section-links {
    list-style: none;
    margin: 0;
    line-height: 1.25em;
    font-size: 0.9em; }
    #content ul.section-links a {
      color: #555555;
      text-decoration: none; }
      #content ul.section-links a:hover {
        color: #111111; }
  #content aside {
    float: left;
    display: block;
    width: 180px;
    margin-right: 20px;
    margin-top: 0.5em;
    margin: 0.5em 20px 0 0; }
    #content aside h2 {
      margin-bottom: 7px; }
    #content aside ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #content aside ul li {
        display: block;
        font-size: 1.5em;
        font-weight: normal;
        font-style: normal;
        font-family: "IngomarJNLRegular";
        text-transform: uppercase;
        line-height: 1.5em; }
        #content aside ul li.current > a:before {
          content: "» ";
          color: #ce8d22;
          font-weight: bold;
          font-family: Verdana, Arial, Helvetica, Sans-Serif;
          font-size: 0.8em; }
        #content aside ul li a {
          color: #333333;
          text-decoration: none; }
          #content aside ul li a:hover {
            color: black; }
        #content aside ul li li {
          margin: 0;
          font-size: 1em;
          padding-left: 0.5em; }
          #content aside ul li li a {
            color: #555555; }
            #content aside ul li li a:hover {
              color: #222222; }
  #content article.with-sidebar {
    display: block;
    float: left;
    width: 720px; }

#page-footer {
  overflow: hidden;
  *zoom: 1;
  padding: 0.75em 1em;
  background: #2a2b2c url("/images/youthtree/footer.jpg") center center repeat-x;
  color: #929292; }
  #page-footer a {
    color: #929292;
    text-decoration: underline; }
    #page-footer a:hover {
      color: white; }
  #page-footer p#copyright-information {
    float: left;
    font-size: 0.8em;
    line-height: 1.5em; }
  #page-footer ul#supporter-information {
    float: right;
    font-size: 1.2em;
    margin: 0.5em 0 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
    font-style: normal;
    font-family: "IngomarJNLRegular";
    text-transform: uppercase;
    text-shadow: black 1px 1px 2px; }
    #page-footer ul#supporter-information li {
      display: inline;
      margin-left: 0.5em; }

#carousel {
  background: white;
  border: 1px dotted #777777;
  padding: 10px;
  text-align: center;
  z-index: 5; }
  #carousel ul {
    display: block;
    width: 895px;
    height: 350px;
    margin: 0 auto;
    list-style: none;
    position: relative; }
    #carousel ul li {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      width: 895px;
      height: 350px;
      display: none; }
      #carousel ul li:first-child {
        display: block; }

ul#social-media-icons {
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 150px; }
  ul#social-media-icons li {
    display: inline;
    display: block;
    width: 24px;
    height: 24px;
    margin: 10px 20px 10px 0;
    float: left; }
    ul#social-media-icons li a {
      display: block;
      width: 24px;
      height: 24px;
      text-indent: -1000px; }

a#vimeo-link {
  background-image: url("/images/youthtree/icons/vimeo.png"); }

a#twitter-link {
  background-image: url("/images/youthtree/icons/twitter.png"); }

a#linkedin-link {
  background-image: url("/images/youthtree/icons/linkedin.png"); }

a#facebook-link {
  background-image: url("/images/youthtree/icons/facebook.png"); }

a#youtube-link {
  background-image: url("/images/youthtree/icons/youtube.png"); }

a#flickr-link {
  background-image: url("/images/youthtree/icons/flickr.png"); }

a#feed-link {
  background-image: url("/images/youthtree/icons/feed.png"); }

a#email-link {
  background-image: url("/images/youthtree/icons/email.png"); }

h2#mission-statement {
  text-align: center;
  padding: 0.75em 0;
  border-bottom: 1px dotted #777777;
  font-size: 1.8em;
  margin: 0 0 1em; }

form.formtastic fieldset.inputs legend {
  padding-bottom: 0.5em; }
  form.formtastic fieldset.inputs legend span {
    height: 1.5em;
    line-height: 1.4em;
    font-weight: normal;
    font-style: normal;
    font-family: "IngomarJNLRegular";
    text-transform: uppercase;
    font-size: 1.5em;
    color: black;
    padding: 0 0 0.5em; }
form.formtastic fieldset.inputs ol li label {
  font-size: 0.9em;
  font-weight: bold;
  color: #444444;
  overflow: hidden;
  *zoom: 1; }
  form.formtastic fieldset.inputs ol li label abbr.required {
    color: #992427;
    padding-left: 0.5em; }

.ie6 #yt-subscribe-panel #yt-subscribe-button button, .ie7 #yt-subscribe-panel #yt-subscribe-button button {
  padding: 10px 15px; }
.ie6 #yt-subscribe-panel fieldset#yt-subscriber-details label, .ie7 #yt-subscribe-panel fieldset#yt-subscriber-details label {
  width: 40px; }
